{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
  Iniciar sesion
{% endblock %}

{% block content %}
  <div class="row g-4 vh-100 align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <form action="" method="post" class="p-4">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required />
              <label for="username"><i class="fa-solid fa-user"></i> Nombre de usuario</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required />
              <label for="password"><i class="fa-solid fa-key"></i> Contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar sesión</button>
          </form>
          {% bootstrap_messages %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
